@using Dev_proc.Models.ViewModels.PositionViews
@model EditPositionViewModel
@{
    ViewData["Title"] = "Companies Page";
}

<form asp-action="EditPositionPost" asp-controller="Position" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="PositionId" value="@Model.PositionId" id="uploadCompanyId"/>
    <p>
        <input name="Name" type="text" placeholder = "Position name" value="@Model.Name" class="form-control" />
    </p>
    <p>
        <input name="Description" type="text" placeholder = "Position description"  value="@Model.Description" class="form-control" />
    </p>
    <p>
        <input name="AvailablePlaces" type="number" placeholder = "Number of available places" value="@Model.AvailablePlaces" min="1" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Edit" />
    </p>
</form>
